form{
  margin-top: 20em;
}

.error{
  margin-bottom: 10px;
  color: red;
}

input[type="email"],input[type="password"]{
  margin-bottom: 20px;
}
input[type="text"]{
  margin-bottom: 20px;
}


input[type="submit"]{

  margin-top: 40px;
}

input[type="file"]{
  margin-bottom: 20px;
}


.logout{
  color: white;
  background-color: rgb(204, 93, 93);
  border: none;
  border-radius: 5px;
  margin-left: 40em;
  margin-top: 20px;
  padding: 5px;
  width: 100px;
}
.dash{
  text-align: center;
}
p.dash{
  font-size:25px
}